/* .row {
    width: 60vw;
    margin: 10vh auto;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto !important;
    width: 100% !important;
}

.form-group {
    margin-top: 2vh;
    width: 100%;
}

.form-inscription {
    display: flex;
    justify-content: center;
}

.form-control {
    width: 100%;
}

label select {
    margin: 10px !important;
}

.input-sm {
    margin: 10px !important;
}

.row {
    /* width: 100% !important; */
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

#survey_table {
    border: none !important;
}

thead {
    display: none;
}

input[type=submit] {
    border: none;
    border-radius: 20px;
    background-color: green;
    width: 30%;
    height: 50%;
}

.btn-submit {
    margin-top: 4vh !important;
    display: flex;
    justify-content: center;
}

.dataTables_filter {
    display: flex;
    justify-content: flex-end;
}

.dataTables_length {
    display: flex;
    justify-content: flex-start;
    margin-left: 1vw;
}

.functional-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
}

.col-sm-6 {
    padding: 0 !important;
}

.dataTables_wrapper {
    width: 100% !important;
}

#question_table {
    width: 100% !important;
}

.form-check-inline {
    margin-left: 30px;
}

h5 {
    margin-bottom: 0 !important;
}

@media (min-width:320px) {
    #survey_table {
        margin: 0 auto;
        max-width: 310px;
    }
}

@media (min-width:480px) {
    #survey_table {
        margin: 0 auto;
        max-width: 470px;
    }
}

@media (min-width:600px) {
    #survey_table {
        margin: 0 auto;
        max-width: 590px;
    }
}

@media (min-width:801px) {
    #survey_table {
        margin: 0 auto;
        max-width: 790px;
    }
}

@media (min-width:1025px) {
    #survey_table {
        margin: 0 auto;
        max-width: 1010px;
    }
}

@media (min-width:1281px) {
    #survey_table {
        margin: 0 auto;
        max-width: 1270px;
    }
}

#survey_table {
    margin: 0 auto;
    max-width: 1250px;
}

.question {
    width: 70%;
}

.response {
    width: 5%;
}